<div class="container">
  <img class="contactLogo" src="assets/contact.png" />
  <div class="title">
    Contacts <br />
    <br />
    <br />
  </div>
  <div class="row">
    <div class="column">
      <img class="logo" src="assets/email.png" alt="" />
      <div class="firstLineText"><br />merezhko.dmitry@gmail.com</div>
    </div>
    <div class="column">
      <img class="logo" src="assets/linkedin.png" alt="" />
      <a
        class="firstLineText"
        href="https://www.linkedin.com/in/dmytro-merezhko-4881a6195"
        ><br />LinkedIn</a
      >
    </div>
    <div class="column">
      <img class="logo" src="assets/github.png" alt="" />
      <div class="firstLineText">
        <a href="https://github.com/Dmitry-057"><br />Personal GitHub</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="firstLineText"><br />dmytro.merezhko@sscinc.com</div>
    </div>
    <div class="column"></div>
    <div class="column">
      <a class="firstLineText" href="https://code.ssnc.dev/dt236758"
        ><br />SS&C GitHub</a
      >
    </div>
  </div>
</div>
