<div class="container">
  <div class="row">
    <div class="column">
      <img class="logo" src="assets/list.png" alt="" />
      <div class="firstLineText">Experience</div>
    </div>
    <div class="column">
      <img class="logo" src="assets/elearning.png" alt="" />
      <div class="firstLineText">Education</div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="row">
        <div class="columnLeft">
          <div class="regularTextLeft"><br /><br />Launch Engineer</div>
          <div class="secondLineLeft">SS&C</div>

          <div class="regularTextLeft"><br />Political Canvasser</div>
          <div class="secondLineLeft">Graystone</div>

          <div class="regularTextLeft">
            <br /><br />Customer Service Representative
          </div>
          <div class="secondLineLeft">Circle K</div>

          <div class="regularTextLeft">
            <br />Director of Facilities and Technology Committee
          </div>
          <div class="secondLineLeft">
            Associated Student Government, Irvine Valley College
          </div>
        </div>
        <div class="columnRight">
          <div class="regularTextRight"><br /><br />07/2022 - current</div>
          <div class="secondLineRight">Kansas City, MO</div>

          <div class="regularTextRight"><br />03/2022 - 06/2022</div>
          <div class="secondLineRight">Westminster, CA</div>

          <div class="regularTextRight"><br /><br />06/2021 - 01/2022</div>
          <div class="secondLineRight">Irvine, CA</div>

          <div class="regularTextRight"><br />08/2018 - 05/2019</div>
          <div class="secondLineRight">Irvine, CA</div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="row">
        <div class="columnLeft">
          <div class="regularTextLeft"><br /><br />Computer Science B.S.</div>
          <div class="secondLineLeft">
            California State University Long Beach
          </div>

          <div class="regularTextLeft"><br />Arts in Liberal Studies A.A</div>
          <div class="regularTextLeft">Natural Sciences and Math A.S.</div>
          <div class="secondLineLeft">Irvine Valley College</div>

          <div class="regularTextLeft">
            <br />CISCO IT Essentials Certificate
          </div>
          <div class="secondLineLeft">Lyceum at NAU "KhAI"</div>

          <div class="regularTextLeft"><br />"Step" IT Academy</div>
        </div>

        <div class="columnRight">
          <div class="regularTextRight"><br /><br />09/2019 - 05/2022</div>
          <div class="secondLineRight">Long Beach, CA</div>

          <div class="regularTextRight"><br /><br />01/2017 - 06/2019</div>
          <div class="secondLineRight">Irvine, CA</div>

          <div class="regularTextRight"><br />01/2014 - 06/2014</div>
          <div class="secondLineRight">Kharkiv, Ukraine</div>

          <div class="regularTextRight"><br />03/2009 - 06/2013</div>
          <div class="secondLineRight">Kharkiv, Ukraine</div>
        </div>
      </div>
    </div>
  </div>
</div>
