<html>
  <div class="container">
    <div class="row">
      <div class="column">
        <mat-card class="example-card" style="width: 80%">
          <mat-card-header>
            <mat-card-title
              ><a
                class="firstLineText"
                href="https://github.com/Aaron-Gonzalez353/Fansverse"
                >Fansverse <br /></a
            ></mat-card-title>
            <mat-card-subtitle>Senior project, Android App</mat-card-subtitle>
          </mat-card-header>
          <img class="imgs" mat-card-image src="assets/fansverse.jpg" alt="" />
          <mat-card-content>
            <div class="regularText">
              An app with sports stats, news, and social platform for the fans.
              Java project built in Android Studio
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="column">
        <mat-card class="example-card" style="width: 80%; margin-left: 5%">
          <mat-card-header>
            <mat-card-title>
              <a
                class="firstLineText"
                href="https://github.com/Dmitry-057/Summer-Project-2020/tree/master/Crush%20Bootlegoot"
                >Crush Bootlegoot</a
              ></mat-card-title
            >
            <mat-card-subtitle>Demo video game on Unity</mat-card-subtitle>
          </mat-card-header>
          <img class="crush" mat-card-image src="assets/crush.jpg" alt="" />
          <mat-card-content>
            <div class="regularText">
              2D platformer inspired by the famous Crash Bandicoot series. Built
              using Unity Engine and C#
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <mat-card class="example-card" style="margin-top: 10%; width: 80%">
          <mat-card-header>
            <mat-card-title>
              <a
                class="firstLineText"
                href="https://devpost.com/software/escape-the-tide"
                >Escape The Tide</a
              ></mat-card-title
            >
            <mat-card-subtitle>Demo video game on Unity</mat-card-subtitle>
          </mat-card-header>
          <img
            class="tide"
            mat-card-image
            src="assets/escape-the-tide.jpg"
            alt=""
          />
          <mat-card-content>
            <div class="regularText">
              Submission for BeachHacks - a 24 hour hackathon at CalState Long
              Beach. Built with Unity engine and C#
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="column">
        <mat-card
          class="example-card"
          style="margin-top: 10%; margin-left: 5%; width: 80%"
        >
          <mat-card-header>
            <mat-card-title>
              <a
                class="firstLineText"
                href="https://code.ssnc.dev/dt236760/ssc-hackathon-frontend"
                >Team RED</a
              ></mat-card-title
            >
            <mat-card-subtitle>SS&C Hackathon</mat-card-subtitle>
          </mat-card-header>
          <img
            class="team-red"
            mat-card-image
            src="assets/ss&c-hackathon.png"
            alt=""
          />
          <mat-card-content>
            <div class="regularText">
              Frontend part of a sports stat app for the Launch Hackathon. Built
              with Angular and Javascript
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</html>
