<div class="container">
  <div class="firstLine">
    <br />
    <br />
    Hello there!
  </div>
  <div class="secondLine">My name is</div>
  <div class="thirdLine">
    Dmytro Merezhko <br />
    <br />
  </div>
  <img class="profilePic" src="assets/bio-pic.jpg" />
  <div class="shortIntro">
    <br />
    <br />
    I am a software engineer from
    <span style="font-weight: bold">Ukraine,</span>
  </div>
  <div class="shortIntro">
    current graduate of
    <span style="font-weight: bold">California State Long Beach</span>
  </div>
  <div class="shortIntro">
    <br />
    <br />
    Aspiring
    <span style="font-weight: bold">Full Stack</span> engineer
  </div>
  <div class="shortIntro">
    most interested in learning more about
    <span style="font-weight: bold">API's, cloud,</span> and
    <span style="font-weight: bold">AI</span>
  </div>

  <button class="resume">
    <a href="assets/My-resume.pdf" download="My-resume.pdf">Resume</a>
  </button>
</div>
